@font-face {
  font-family: 'MTN Brighter Sans';
  src: url('./assets/font/MTNBrighterSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MTN Brighter Sans';
  src: url('./assets/font/MTNBrighterSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'MTN Brighter Sans', sans-serif;
}