.dailyChallenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99.5%;
  max-width: 800px;
  height: 520px;
  border-radius: 35px;
  margin-top: 5px;
  padding: 20px;
  box-sizing: border-box;
}