.headerCardNavbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  width: 100%;
  max-width: 800px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  margin: 0 auto;
  padding-bottom: 10px;
  transition: height 0.2s ease, border-radius 0.2s ease;
  will-change: height;
}

.headerCardNavbar.shrunk {
  height: 150px;   /* Change the height of the closed header */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.collapseButton:hover {
  background: rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.arrow {
  font-size: 20px;
  color: #333;
  transition: transform 0.2s ease;
}

.arrowDown {
  transform: rotate(0deg);
}

.arrowUp {
  transform: rotate(180deg);
}

.headerContent {
  position: relative;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.headerImageContainer {
  position: absolute;
  left: 2vw;
  top: 5vh;
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  z-index: 1000;
}
.headerImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.headerTextContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 13vh;
  width: 90%;
  height: 20%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerTextTitle{
    font-size: 20px;
}

.headerTextSubtitle{
    font-size: 30px;
    font-weight: bold;
}

