.navbar {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  height: 80px;
  width: 100%;
  max-width: 800px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: bold;
  
}
    
.navbarItems {
    display: flex;
    align-items: center;
    justify-content: space-evitably;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  
}